:export {
  MAIN_COLOR_LIGHT:        $main-color-light;
  MAIN_COLOR_DARK:         $main-color-dark;
  SECONDARY_COLOR:         $secondary-color;
  THIRD_COLOR:             $third-color;
  THIRD_COLOR_DARKEN:      $third-color-darken;
}