* {
  color: var(--font-color);
}

.section-area {
  position: relative;
  min-height: 58rem;
  &:not(:first-child) {
    margin-top: 8rem;
  }
}

.section-title {
  font-size: 7.5rem;
  font-family: $section-title-font-family;
  line-height: 7rem;
  transform: scaleY(1.2)
}

.section-description {
  font-size: 1.4rem;
  margin-top: 2rem;
}