// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$main-color-light:         #f7efec;
$main-color-dark:          #211b3f;
$secondary-color:          #fdb45b;
$secondary-color-light:    #FFCA28;
$third-color:              #4e376b;
$third-color-light:        #8e6ebc;
$third-color-darken:       #2f2b4c;
$forth-color:              #78909C;
$section-title-font-family: 'Titillium Web';

// override variable
$body-font-family: 'Ubuntu';
$font-size-root:   13px;

$breakpoint-small:  600px;
$breakpoint-medium: 960px;
$breakpoint-large:  1264px;