// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$main-color-light:         #f7efec;
$main-color-dark:          #211b3f;
$secondary-color:          #fdb45b;
$third-color:              #4e376b;
$section-title-font-family: 'Titillium Web';

// override variable
$body-font-family:          'Ubuntu';
$font-size-root:            13px;